// project base colors
$color-main: #C588EA;
$color-success: #8BE836;
$color-warn: #FFC142;
$color-error: #E83938;
$color-default: #CECECE;
$color-background: #F8F8F8;

$color-white: #FFF;
$color-black: #000;

$color-font: #1C1C1C;

// default values
$font-size: 14px;

$border-radius: 3px;
$padding: 10px;

$box-shadow: 0 1px 3px rgba($color-black, 0.3);
