$color-main: #6b83af;
$color-success: #8BE836;
$color-warn: #FFC142;
$color-error: #E83938;
$color-default: #FAFAFA;

$color-accent: #FFF;
$color-background: #E8E8E8;

$border-color: #BCBCBC;
$border-radius: 3px;

$font-color: #1C1C1C;
$font-size: 11px;

$padding: 10px;

$box-shadow: 0 12px 18px 2px #2200330a, 0 6px 22px 4px #0730721f, 0 6px 10px -4px #0e0d1a1f;
